/*Search page body */
body {background-color:#FFF; font-family:arial,sans-serif; font-size: 12px; margin: 0px 0px 0px 0px}


a, a:hover {
    text-decoration:none;
}

/*** ESTILOS DO TOPO */
.logoarea {

  padding:          10px;
  height:           70px;
  width:            30%;
  background-color: #00b3ac;
  color:            white;

}


.categorias {
  
  border-top:       1px #DDD solid;
  border-left:      1px #DDD solid;
  border-bottom:    1px #DDD solid;
  height:           70px;
  padding:          8px 10px 10px 10px;
  width:            200px;
  font-size:        12px;
  
}


.barraBusca {
  
  
  height:           70px;
  width:            510px;
  font-size:        12px;
  
}


.fieldbusca {

  font-size:        24px;
  color:            #DDD;
  height:           50px;
  padding:          15px 20px 0px 20px;
  width:            500px;
  border:           0px;
  

}


.botaoLupa {

  border-top:       1px #DDD solid;
  border-right:     1px #DDD solid;
  border-bottom:    1px #DDD solid;
  height:           70px;
  padding:          0px;
  width:            70px;
  font-size:        12px;

}



/*Top categories*/
.main_cat1 {font-size: 16px; color:#0000FF}
.main_cat2 {font-size: 12px; color:#0000FF}
.cat1:visited {font-size: 16px; color:#5555AA}

/*Small urls*/
.url {
  color: #006621;
}



a:visited{color:#5555AA}
/*hr{color:#000066}*/

/*Page descriptions*/
.description{font-size: 13px;}

/* */
td {font-family:arial,sans-serif; font-size: 13px; }

/* Title/link of pages */
.title{
  color:#00b3ac;
  font-size:16px
}



.searchBox{
  border:0px solid #113377;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-110px;
  margin-top:-40px;

}

.searchBoxResult{
  border:0px solid #113377;
  left:10px;
  top:10px;
}

.searchBoxAdmin {
  border:1px solid #113377;
  font-size: 16px;
}


.searchBar {

  font-size:18px;
  color: darkgray;

}

.searchButton {
  border: solid #1f628d 1px;
  background: #1f628d;
  background-image: -webkit-linear-gradient(top, #1f628d, #2980b9);
  background-image: -moz-linear-gradient(top, #1f628d, #2980b9);
  background-image: -ms-linear-gradient(top, #1f628d, #2980b9);
  background-image: -o-linear-gradient(top, #1f628d, #2980b9);
  background-image: linear-gradient(to bottom, #1f628d, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: white;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}
.searchButton a {

  color: white;

}

.searchButton:hover {
  color: white;
  background: #2784c2;
  background-image: -webkit-linear-gradient(top, #2784c2, #3498db);
  background-image: -moz-linear-gradient(top, #2784c2, #3498db);
  background-image: -ms-linear-gradient(top, #2784c2, #3498db);
  background-image: -o-linear-gradient(top, #2784c2, #3498db);
  background-image: linear-gradient(to bottom, #2784c2, #3498db);
  text-decoration: none;
}

.searchButtonRed {
  border: solid #6d0019 1px;
  background: #6d0019;
  background-image: -webkit-linear-gradient(top, #6d0019, #a90329);
  background-image: -moz-linear-gradient(top, #6d0019, #a90329);
  background-image: -ms-linear-gradient(top, #6d0019, #a90329);
  background-image: -o-linear-gradient(top, #6d0019, #a90329);
  background-image: linear-gradient(to bottom, #6d0019, #a90329);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.searchButtonRed a {

  color: white;
  
}

.searchButtonRed:hover {
  background: #a90329;
  background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
  background-image: -moz-linear-gradient(top, #a90329, #6d0019);
  background-image: -ms-linear-gradient(top, #a90329, #6d0019);
  background-image: -o-linear-gradient(top, #a90329, #6d0019);
  background-image: linear-gradient(to bottom, #a90329, #6d0019);
  text-decoration: none;
}


#result_report {
  text-align:center ;
  padding:3px;
  background-color:#e5ecf9; 
  font-weight: bold;
  margin-bottom:14px;
}

.catBanner {
  padding:3px;
  margin-top:15px;
  background-color:#e5ecf9; 
  font-weight: bold
}
.webPageBanner {
  padding:3px;
  margin-top:20px;
  background-color:#e5ecf9; 
  font-weight: bold
}

hr{color:#000066;}
hr.powered{width:550; color: #000066}

/*main results table */
.results{
  position: relative;
  width: 600px;
  left: 50px;
}

h1 {
  text-align: center;
  font-family: Verdana, Ariel;
  font-size:24px;
  color: #000066;
  }

#other_pages {
  text-align:center;
}

#powered_by {
  margin:0 auto;
  margin-top:20px;
  padding-top:10px;
  font-size:10px;
  text-align:center;
  vertical-align: center;
}

#common_report {
    text-align:center;
}

#cat_table {
    width:600px;
    margin-top:20px;
    padding-top:10px;
    padding-bottom:20px;
    border-top:1px solid #AAAAAA;
    border-bottom:1px solid #AAAAAA;

}

#cat_main {
  font-weight: bold;
}

.divline{
  margin-top:20px;
  margin-bottom:-5px;
  border-bottom:1px solid #DDDDDD;
}

#sub_cat {
  font-size:12px;
}

.idented {
  margin-left:30px;
}

#did_you_mean {
  font-size: 14px; 
  text-align:center ;
  margin:10px;

}
